.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .dice {
    text-align: center;
    display: inline-block;
  
  }


body{
    background-color:brown;
}
h1{
    margin: 30px;
    text-shadow: 5px grey;
    font-size: 8rem;
    color: green;
    font-family: 'Lobster', cursive;
}

  p{
      font-size: 2rem;
      color: green;
      font-family:'Indie Flower', cursive ;
  }
  img {
    width: 50%;
    height: 50%;
  }
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }